.containerForm {
  background-image: url('../img/bgForm.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.containerForm .contentForm {
  width: 60%;
  height: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgba(248, 249, 249, 0.9);
}
.containerForm .contentForm .form {
  width: 100%;
  height: 100%;
  margin: auto;
}
.containerForm .form .contInfo {
  width: 100%;
  box-sizing: border-box;
}
.containerForm .form .contInfo .titleForm {
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #f7931e;
  font-weight: 700;
  font-size: 2em;
  text-align: center;
}
/*Container Input*/

.containerForm .form .contInfo .contInput {
  width: 90%;
  height: 8vh;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
.containerForm .form .contInfo .contInput_2 {
  width: 40%;
  height: 8vh;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
}
/*cont icon*/

.containerForm .form .contInfo .contInput .icon {
  width: 8%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #f7931e;
  color: #FFFFFF;
  font-size: 1.2em;
}
.containerForm .form .contInfo .contInput_2 .icon {
  width: 18%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7931e;
  color: #FFFFFF;
  font-size: 1.2em;
}
/*cont input*/

.containerForm .form .contInfo .contInput .input {
  width: 90%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.containerForm .form .contInfo .contInput_2 .input {
  width: 80%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
/*style input */

.containerForm .form .contInfo .styleInput_1 {
  width: 100%;
  height: 90%;
  padding: 5px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 2px solid transparent;
  color: #f7931e;
  background-color: #FBFCFC;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.containerForm .form .contInfo .styleInput_1:hover {
  border: 2px solid #f7931e;
  background-color: #FFFFFF;
}
/*container textarea*/

.containerForm .form .contInfo .contText {
  width: 90%;
  height: 20vh;
  position: relative;
  box-sizing: border-box;
}
.containerForm .form .contInfo .contText .icon {
  width: 8%;
  height: 7vh;
  background-color: #f7931e;
  color: #FFFFFF;
  font-size: 1.2em;
  position: absolute;
  top: 0;
  left: 0;
}
.containerForm .form .contInfo .contText .text {
  width: 90%;
  position: absolute;
  right: 0;
  top: 0;
  height: 15vh;
  box-sizing: border-box;
}
.containerForm .form .contInfo .contText .text .styleText {
  width: 95%;
  height: 90%;
  padding: 5px;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  border: 2px solid transparent;
  color: #f7931e;
  background-color: #FBFCFC;
  border-radius: 4px;
  transition: all 0.3s linear;
}
.containerForm .form .contInfo .contText .text .styleText:hover {
  border: 2px solid #f7931e;
  background-color: #FFFFFF;
}
/*Conatainer button submint*/

.containerForm .form .contBtn {
  position: relative;
  width: 90%;
  height: 8vh;
  margin: auto;
}
.containerForm .form .contBtn #send {
  width: 15%;
  background-color: #f7931e;
  font-size: 1.2em;
  font-weight: 500;
  color: #FFFFFF;
  margin: 5px;
  padding: 5px;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid transparent;
  transition: all 0.3s linear;
  cursor: pointer;
}
.containerForm .form .contBtn #send:hover {
  background-color: #FFFFFF;
  color: #f7931e;
  border: 2px solid #f7931e;
}
@media screen and ( max-width: 580px ) and ( min-width: 280px ) {
 .containerForm,
 .containerForm .contentForm,
 .containerForm .contentForm #form,
 .containerForm .contentForm #form .contInfo {
    width: 100%;
    margin: 0;
  }
  #form .contInfo .contInput,
  #form .contInfo .contInput_2 {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
    height: 10vh;
  }
  #form .contInfo .contInput .icon,
  #form .contInfo .contInput_2 .icon {
    width: 15%;
    height: 100%;
  }
  #form .contInfo .contInput .input,
  #form .contInfo .contInput_2 .input {
    width: 80%;
    height: 100%;
  }
  /*container textarea*/
  .containerForm .form .contInfo .contText {
    height: 55vh;
    width: 90%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .containerForm .form .contInfo .contText .icon {
    width: 15%;
    height: 17%;
    font-size: 1.2em;
  }
  .containerForm .form .contInfo .contText .text {
    width: 85%;
    position: absolute;
    right: 0;
    top: 0;
    height: 50vh;
  }
  .containerForm .form .contInfo .contText .text .styleText {
    width: 95%;
    height: 90%;
  }
  /*Conatainer button submint*/
  .containerForm .form .contBtn {
    width: 70%;
    height: 15vh;
  }
  .containerForm .form .contBtn #send {
    width: 50%;
    right: 30px;
  }
}