* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  z-index: 100;
  box-sizing: border-box;
  font-size: 16px;
  color: #FFFF;
  font-family: 'Roboto', sans-serif;
  background-color: #202020;
}
.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  text-align: center;
}
.header {
  width: 100%;
  height: 15vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}
.header .contentLogo {
  width: 20%;
  height: 100%;
  overflow: hidden;
}
.header .contentLogo .logoMini {
  display: none;
}
.header .contentLogo img {
  width: 90%;
  height: 90%;
  margin: auto;
}
.header .contentLink {
  width: 80%;
  height: 100%;
  position: relative;
}
.header .contentLink .nav {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
.header .contentLink .nav a {
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  border: 2px solid transparent;
  transition: all 0.3s linear;
}
.header .contentLink .nav .home {
  background-color: #f7931e;
  color: #FFFFFF;
}
.header .contentLink .nav .home:hover {
  background-color: #FFFFFF;
  color: #f7931e;
  border: 2px solid #f7931e;
}
.header .contentLink .nav .exit {
  background-color: #5E0303;
  color: #FFFFFF;
}
.header .contentLink .nav .exit:hover {
  background-color: #FFFFFF;
  color: #5E0303;
  border: 2px solid #5E0303;
}
@media screen and (max-width: 580px) and (min-width: 280px) {
  .header {
    width: 100%;
    height: 15vh;
  }
  .header .contentLogo {
    width: 40%;
    height: 100%;
  }
  
  .header .contentLogo .logoBig {
    display: none;
  }
  .header .contentLogo .logoMini {
    display: flex;
  }
  .header .contentLink {
    width: 60%;
    height: 100%;
  }
  .header .contentLink .nav {
    width: 100%;
    height: 100%;
  }
  .header .contentLink .nav a {
    padding: 4px;
    font-size: 0.8em;
  }
}
@media screen and (max-width: 580px) and (min-width: 400px){
  .header .contentLogo .logoMini {
    width: 50%;
    display: flex;
    margin: auto;
  }
}
@media screen and (max-width: 400px) and (min-width: 300px){
  .header .contentLogo .logoMini {
    width: 70%;
    display: flex;
    margin: auto;
  }
}
@media screen and (max-width: 300px) and (min-width:280px){
  .header .contentLogo .logoMini {
    width:60%;
    height: 50%;
    display: flex;
    margin: auto;
  }
}

